/* EstiloVentas.css */

.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid violet;
  padding: 10px;
  border-radius: 10px;
  font-family: monospace;
  width: 100%;
  min-height: 90vh;
}

.venta-section {
  flex: 1;
  min-width: 48%;
  padding: 10px;
  border-right: 1px solid violet;
}
.productos-section{
  position: relative;
  left: 10px;
  top: 30px;
  nav-right: auto;
  padding: 50px;
  text-align: centers;
  border-top: 1px solid violet;
}

.manaa {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.categorias-section {
  text-align: center;
  margin-bottom: 20px;
}

.categoria-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.categoria {
  border: 2px solid violet;
  border-radius: 5px;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 14px;
}

.categoria.electronica {
  border-color: green;
  background-color: #d2f8d2;
}

.form-group {
  margin-bottom: 15px;
}

.fecha-input {
  padding: 8px;
  width: 100%;
  border: 2px solid violet;
  border-radius: 5px;
  font-family: monospace;
  text-align: center;
  width: 180px;
  position: relative;
  left: 50%;
}
.Nfactura-input{
  padding: 8px;
  width: 100%;
  border: 2px solid violet;
  border-radius: 5px;
  font-family: monospace;
  text-align: center;
  width: 180px;
  position: relative;
  left: 50%;

}

.cliente-input {
  display: flex;
  margin-top: 10px;
}

.cliente-input input {
  flex: 1;
  padding: 8px;
  border: 2px solid violet;
  border-radius: 5px 0 0 5px;
}

.add-button {
  background-color: violet;
  color: white;
  border: none;
  padding: 0 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #a100a1;
}



.selected-products {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  max-height: 150px;
  overflow-y: auto;
}

.product-item {
  background: #f3f3ff;
  border: 1px solid violet;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.remove-button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-weight: bold;
  padding: 0 8px;
  border-radius: 3px;
  cursor: pointer;
}

.carrito-button {
  background-color: violet;
  color: black;
  font-weight: bold;
  font-family: monospace;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.carrito-button:hover {
  background-color: #a100a1;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background-color: white;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-height: 70vh;
  overflow-y: auto;
  border: 2px solid violet;
  font-family: monospace;
}

.close-button {
  float: right;
  background: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.label-fac{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: 70px;
  top: 30px;
}
.label-fecha{
  position: relative;
  left: 100px;
  top: 30px;
}
.client-item, .product-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid violet;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.client-item:hover, .product-item:hover {
  background-color: #f0e0ff;
}

.test-product {
  margin-top: 20px;
  text-align: left;
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}