.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid purple;
  height:700px;
  

}

.productos-section {
  border: 2px solid purple;
  padding: 10px;
  margin: 10px;
  width: 45%;
  height: 300px;
  border-radius: 6px;
  position: relative;
  top: -350px;
}
.categorias-section {
  border: 2px solid purple;
  padding: 10px;
  margin: 10px;
  width: 45%;
  height:640px;
  border-radius: 6px;
  
}
.venta-section {
  border: 2px solid purple;
  padding: 10px;
  margin: 10px;
  width: 45%;
  height: 300px;
  border-radius: 6px;
}


.carrito-button {
  background-color: purple;
  color: rgb(0, 0, 0);
  display: block;
  width: 200px;
  height: 30px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  position:relative;
  left: 110px;
  top:170px;
}

h2, h3 {
  text-align: center;
}

.cliente-input {
  display: flex;
  align-items: center;
}

.add-button {
  background-color: purple;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px;
  cursor: pointer;
 
  border-radius: 5px;
  width: 50px;
  height: 30px;
}
.add-button:hover{
  transform: translateY(-1px);
}


.categoria {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Modal general */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  position: relative;
}

.client-list, .product-list {
  max-height: 200px;
  overflow-y: auto;
}

.client-item, .product-item {
  padding: 10px;
  border-bottom: 1px solid purple;
  cursor: pointer;
}

.client-item:hover, .product-item:hover {
  background-color: #f2e6ff;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}



.Nfactura-input{
  border: 1px solid purple;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  position:relative;
  left: 100px;
  top: 20px;
  
}
.fecha-input{
  border: 1px solid purple;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  position:relative;
  left: 190px;
  top: 20px;
  
}
.venta-section label{
  position: relative;
  left: 60px;
  top: 20px;
}




.cliente-input{
  border: 1px solid purple;
  width: 45 0px;
  height: 40px;
  border-radius: 5px;

  position: relative;
  top: 40px;
}
.cliente-input input {
  border: none;
  width: 400px;
  height: 30px;
  background: #f2e6ff00;
  
  outline: none;
  transition: all 0.3s ease;
}
