/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#contenidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

/* Estilo de usuario */
.iconoNombre {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
  margin-left: auto; 
  margin-right: 0; 
  background-color: #00000000;
  box-sizing: border-box; 
}

.iconoNombre h4 {
  margin: 0 10px 0 0; 
  text-align: right; 
  font-size: 14px;
  color: #333;
}

/* Estilos para el botón de usuario */
.usuarioIcono {
  display: flex;
  align-items: center;
 
  background: #f3e5f5;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #a020f0;
  
}

.usuarioIcono button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  }

.usuarioIcono img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.usuarioIcono img:hover {
  transform: scale(1.1);
}

/* Sección principal */
.fondo {
  text-align: center;
  background: #fff;
  padding: 20px;
  width: 95%;
  max-width: 1000px;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.fondo h2 {
  color: #6a5acd;
  font-size: 20px;
}

/* Botones */
.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.cont button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 4px;
  width: 90%;
  max-width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.cont_producto {
  background: #b9b9b9;
  border: 1px solid #000000;
}

.cont_agg_producto {
  background-color: #fde7be;
  border: 1px solid #ffab3d;
}

.cont_miembros {
  background-color: #b2ffc3;
  border: 1px solid #297536;
}

.cont button:hover {
  transform: scale(1.05);
}

.cont button img {
  width: 80px;
  height: 80px;
}

/* Sección de video tutorial */
.video-tutorial {
  margin-top: 30px;
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 95%;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.video-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.video-icons div {
  width: 80px;
  height: 80px;
  background: #e6e6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.video-icons div:hover {
  background: #8d598d;
}

/* Responsividad */
@media (max-width: 480px) {
  .iconoNombre {
    flex-direction: column;
    align-items: flex-start;
  }

  .usuarioIcono img {
    width: 40px;
    height: 40px;
  }

  .fondo h2 {
    font-size: 18px;
  }

  .cont button img {
    width: 60px;
    height: 60px;
  }

  .video-icons div {
    width: 60px;
    height: 60px;
  }
}
